.user_info_pannel {
  width: 960px;
  margin: 10px;
  background: hsla(0, 0%, 100%, .07);
}
.collection_wrpper {
  display: flex;
  flex-wrap: wrap;
}
.follower_wrpper {
  display: flex;
  flex-wrap: wrap;
}
