$font_color: rgba(255, 255, 255, 0.6);

.user_info_pannel {
  width: 960px;
  margin: 10px;
  background: hsla(0, 0%, 100%, .07);
  // left: 600px;
  min-height: 200px;
  margin-left: 260px;
  // float: right;
}
.collection_wrpper {
  display: flex;
  flex-wrap: wrap;
}
.follower_wrpper {
  display: flex;
  flex-wrap: wrap;
}
.tip {
  color: $font_color;
  font-size: 20px;
  font-weight: bold;
  line-height: 200px;
  margin: 0 auto;
}
