$font_color: rgba(255, 255, 255, 0.6);
$line_color: rgba(255, 255, 255, 0.07);

.article_detail_container {
  background: #36455D;
  min-height: 100vh;
}
.content_wrapper {
  display: flex;
  margin: 0 250px;
  margin-top: 56px;
  padding-top: 30px;
  background: #36455D;
}
.article_wrapper {
  display: flex;
  flex: 3;
  flex-direction: column;
  list-style: none;
}
.follow_list_wrapper {
  display: flex;
  flex: 1;
  margin-left: 50px;
  background: #36455D;
}
.tips {
  // background: red;
  width: 320px;
  border-radius: 2px;
  height: 140px;
  margin-top: 10px;
  background: $line_color;
  color: $font_color;
}
.tip_header {
  height: 40px;
  line-height: 40px;
  padding-left: 15px;
  border-bottom: 1px solid $font_color;
  margin-bottom: 10px;
  font-weight: bold;
}
.tip {
  padding: 5px 10px;
  font-size: 12px;
}
