.article_detail_container {
  background: #36455D;
}
.content_wrapper {
  display: flex;
  margin: 0 250px;
  margin-top: 56px;
  padding-top: 30px;
  background: #36455D;
}
.article_wrapper {
  display: flex;
  flex: 3;
  flex-direction: column;
  list-style: none;
}
.follow_list_wrapper {
  display: flex;
  flex: 1;
  margin-left: 50px;
  background: #36455D;
}
