$blue: #54BBF5;
$pink: #F477AB;
$black: #808080;
$gray: #B0B0B0;
.person_card_container {
  // background: rgba(255, 255, 255, 0.2);
  background: #FFF;
  width: 300px;
  height: 200px;
  border-radius: 2px;
  user-select: none;
  margin: 10px;
}
.top_wrapper {
  height: 122px;
  background: url('/StockSnap_01.jpg');
  background-size: cover;
  // -webkit-filter: brightness(80%);
  padding: 10px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  cursor: pointer;
}
.portrait_wrapper {
  width: 50px;
  height: 50px;
  // background: url('/StockSnap_01.jpg');
  background-size: cover;
  border-radius: 50%;
  margin: 0 auto;
}
.name_sex_wrapper {
  text-align: center;
  margin-top: 10px;
  color: #FFF;
  font-weight: bold;
}
.sex_male {
  color: $blue;
  font-size: 16px;
  margin-left: 2px;
}
.sex_female {
  color: $pink;
  font-size: 16px;
  margin-left: 2px;
}
.description_wrapper {
  text-align: center;
  color: #FFF;
  // word-wrap: break-word;
  // font-weight: bold;
  width: 280px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.bottom_wrapper {
  // background: lightskyblue;
  color: $black;
  font-size: 12px;
  padding: 10px;
}
.location_wrapper {
  // color: $black;
  text-align: center;
  // font-weight: bold;
}
.button_wrapper {
  margin: 7px auto;
  // background: red;
}
.button {
  width: 80px;
  padding: 4px;
  display: inline-block;
  border: 1px solid $gray;
  border-radius: 2px;
  text-align: center;
  cursor: pointer;
  &:hover {
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);
  }
}
.follow_button {
  @extend .button;
  margin-left: 55px;
}
.message_button {
  @extend .button;
  margin-left: 10px;
}
