.bg_img {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-filter: brightness(80%);
}
.carousel {
  min-height: 100vh;
  // background-image: url('/StockSnap_01.jpg');
  // background-size: cover;
}