$background: #36455D;
$font_color: rgba(255, 255, 255, 0.6);
$line_color: rgba(255, 255, 255, 0.07);

.reply_list_container {
  display: flex;
  background: $background;
  min-height: 100vh; 
}
.main {
  padding: 20px 0;
  display: flex;
  flex: 1;
  margin: 55px 210px 0 210px;
  // background: red;
}
.reply_list {
  flex: 2;
  flex-direction: column;
  // background: red;
}
.right_module {
  flex: 1;
  background: $line_color;
  height: 160px;
  // padding: 15px;
}
.tip_header {
  color: $font_color;
  padding-left: 15px;
  border-bottom: 1px solid $font_color;
  font-weight: bold;
  height: 40px;
  line-height: 40px;
  // background: red;
}
.tip {
  font-size: 12px;
  color: $font_color;
  margin: 10px 15px;
}
