$background: #36465D;
$font_color: rgba(255, 255, 255, 0.6);
$opacity_color: hsla(0, 0%, 100%, .07);
$line_color: rgba(255, 255, 255, 0.07);
.my_portrait_container {
  padding: 20px 0;
  user-select: none;
}
.select_wrapper {
  // background: red;
}
.select_btn_wrapper {
  display: inline-block;
  width: 80px;
  height: 30px;
  color: $font_color;
  text-align: center;
  line-height: 30px;
  font-size: 12px;
  cursor: pointer;
  background: $background;
  position: relative;
  overflow: hidden;
}
.select_btn {
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0;
  cursor: pointer;
}
.crop_container {
  display: flex;
  width: 100%;
  margin-top: 15px;
  background: $background;
}
.crop_wrapper {
  flex: 2;
  padding: 20px;
  // height: 200px;
  border-right: 1px solid $line_color;
}
.preview_wrapper {
  flex: 1;
  padding: 20px;
}
.preview_left_wrapper {
  flex: 2;
  background: red;
}
.preview_right_wrapper {
  flex: 1;
  background: green;
}
.tip {
  font-size: 12px;
  color: $font_color;
  margin: 0 0 20px 0;
}

// .box{
//   display: inline-block;
//   padding: 10px;
//   box-sizing: border-box;
// }
// .img_preview{
//   overflow: hidden;
// }
