$black: #444;
$blue: #198FFF;
$gray: #8F8F8F;
$grey: #D8DADE;
$light_grey: #F2F2F5;

.child_comments_wrapper {
  background: $light_grey;
  margin-top: 10px;
  padding: 10px;
  user-select: none;
}
.username {
  color: $black;
  font-weight: bold;
  cursor: pointer;
}
.comment {
  color: $black;
  word-break: break-all;
  word-wrap: break-word;
}
.reply {
  font-size: 12px;
  margin-top: 10px;
  color: $gray;
  display: flex;
}
.reply_time {
  flex: 1;
}
.reply_link {
  // right: 0;
  cursor:pointer;
}
.input_group {
  display: flex;
  // margin-bottom: 30px;
  height: 45px;
  padding: 10px ;
  margin-top: 10px;
  margin-bottom: 0;
  // background: $light_gray;
  background: #FFF;
}
.input_control {
  flex: 1;
  border: 0;
  border-bottom: 1px solid $grey;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
  border-radius: 0;
  height: 26px;
  // background: $light_gray;
  &:focus {
    border-bottom: 1px solid $blue;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
  }
}
.reply_button {
  margin: 0 0 0 10px;
  width: 58px;
  height: 26px;
  font-size: 12px;
  color: #FFF;
  border-radius: 2px;
  text-align: center;
  line-height: 26px;
  cursor: pointer;
  background: #ffc09f;
}
